{# Form Validation - Error Summary #}
{% macro formErrorSummary(error, form, message) %}

    {% if (error is not empty or form.getMessages|length > 0) %}
    <div class="error-summary" role="group" aria-labelledby="error-heading" tabindex="-1">
        <h1 class="heading-medium error-summary-heading" id="error-heading">{{ message }}</h1>

        {# Show this only if it's a form error #}
        {% if form.getMessages|length > 0 %}
            <p>You need to do the following:</p>
        {% endif %}

        <ul class="error-summary-list text">
            {# Form errors #}
            {{ formLinkedErrorListV2(form) ? '' }}

            {# API errors #}
            {% if error is not empty %}
                <li><p>
                    {% if error == 'user-not-found' %}
                        We could not find an account for this email address.
                    {% elseif error == 'address-already-registered' %}
                        This email address has already been registered. Please <a href="{{ url('login') }}">sign in</a> or <a href="{{ url('forgot-password') }}">reset your password</a>.
                    {% elseif error == 'user-already-has-email' %}
                        You're already using that email address for this account – please enter another email address.
                    {% elseif error == 'email-already-exists' %}
                        Another LPA account is already using that email address – please enter a different email address.
                    {% else %}
                        {{ error }}
                    {% endif %}
                </p></li>
            {% endif %}
        </ul>
    </div>
    {% endif %}

{% endmacro %}

{# Text input #}
{% macro formGroup(element) %}

<div class="form-group {{ element.getMessages|length >0 ? 'error'}}">
    <label class="form-label" for="{{ element.getAttribute('id') }}">
        {{ element.getOption('label') }}
        {{ formElementErrorsV2(element) }}
    </label>
    {{ formElement(element) }}
</div>

{% endmacro %}

{# Checkbox #}
{% macro formGroupCheckbox(element) %}

<div class="option group">
    <label class="form-label" for="{{ element.getAttribute('id') }}">
        {{ element.getOption('label')|raw }}
    </label>
    {{ formElement(element) }}
</div>

{% endmacro %}

{# JS check dob #}
{% macro addDobCheckOnUseMyDetails(isUseMyDetails) %}
	{% if (isUseMyDetails) %}
		if ($('#dob-date-day').val()) {
			dobChecks($('.dob-element'));
		}
	{% endif %}
{% endmacro %}

{# Add reuse details options #}
{% macro renderReuseDetailsOptions(reuseDetailsForm, useMyDetailsRoute) %}
    {% if (reuseDetailsForm) %}

        {# Set form fields variables #}
        {% set reuseDetailsSubmit = reuseDetailsForm.get('submit') %}
        {% set reuseDetailsOptions = reuseDetailsForm.get('pick-details') %}
        {% set reuseDetailsCsrf = reuseDetailsForm.get(reuseDetailsForm.csrfName()) %}

        {# form fields config #}
        {{ reuseDetailsSubmit.setAttributes({
            'value': "Use this person's details",
            'class' : 'button js-details-picker'
        }) ? '' }}

        {{ reuseDetailsOptions.setAttributes({
            'id':'pick-details',
            'class':'form-control js-reusable'
        }) ? '' }}

        {{ reuseDetailsCsrf.setAttributes({
            'id' : 'secret'
        }) ? '' }}

        {# form fields labels #}
        {{ reuseDetailsOptions.setOptions({
            'label': 'Use these details',
            'empty_option' : 'Select a person'
        }) ? '' }}

        {# begin form #}
        {{ reuseDetailsForm.prepare() ? '' }}
        {{ form().openTag( reuseDetailsForm )|raw }}
            {{ formElement(reuseDetailsCsrf) }}

            <div class="use-these-details-panel">
                <fieldset>
                    <legend class="visuallyhidden">Select person from previous LPA</legend>

                    <div class="form-group flush--bottom">
                        <label class="form-label" for="{{ reuseDetailsOptions.getAttribute('id') }}">{{ reuseDetailsOptions.getOption('label') }}</label>

                        {{ formSelect(reuseDetailsOptions) }}
                        {{ formElementErrors(reuseDetailsOptions) }}
                    </div>

                    <div class="form-group js-hidden">
                        {{ formSubmit(reuseDetailsSubmit) }}
                    </div>

                </fieldset>

            </div>

        {{ form().closeTag|raw }}

    {% elseif (useMyDetailsRoute) %}
        <div class="use-details-link-panel form-group js-UseMyDetails">
            <a class="js-form-popup" href="{{ useMyDetailsRoute }}">Use my details</a>
        </div>
    {% endif %}
{% endmacro %}

{% macro addSwitchAttorneyTypeLink(switchAttorneyTypeRoute, lpa, trustLink) %}
    {% if (switchAttorneyTypeRoute) %}
        <div class="use-details-link-panel form-group">
            <a class="js-form-popup" href="{{ url(switchAttorneyTypeRoute, {'lpa-id': lpa.id}) }}">Using {{ trustLink ? 'a trust corporation' : 'an individual' }}?</a>
        </div>
    {% endif %}
{% endmacro %}